body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: rgb(21, 95, 48);
  text-decoration: none;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.2rem;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  text-decoration: none;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination .active a {
  font-weight: bold;
  border-color: #333;
}

.lyrics iframe {
  max-width: 100%;
}

