{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
{{ with .Params.albums }}
  <h4>Album:
    <a href="{{ (printf "albums/%s" (. | urlize)) | relURL }}">{{ . }}</a>
  </h4>
{{ end }}

  {{ .Content }}
{{ with .Params.artists }}
  <h4>Artists:
  {{ range $index, $element := . }}
    {{ if $index }}, {{ end }}
    <a href="{{ (printf "artists/%s" ($element | urlize)) | relURL }}">{{ $element }}</a>
  {{ end }}
  </h4>
{{ end }}

{{ end }}
